<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block titulo %}{% endblock %} - Mis videos</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login/Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/dark.js') }}"></script>
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
            document.documentElement.classList.add("is_dark");
        }
        if (localStorage.getItem("theme-color") === "light") {
            document.documentElement.classList.remove("is_dark");
        } 
    </script>
</head>

<body>

    <div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for categoria, message in messages %}
        <div class="alert alert-{{categoria}}" role="alert">
            {{message}}
        </div>
        {% endfor %}

        {% endif %}
        {% endwith %}


        {% block contenido %}
        {% endblock %}
    </div>
    <!-- JS here -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.meanmenu.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ajax-form.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem("theme-color") === "dark" || (!("theme-color" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
            document.getElementById("light--to-dark-button")?.classList.add("dark--mode");
        }
        if (localStorage.getItem("theme-color") === "light") {
            document.getElementById("light--to-dark-button")?.classList.remove("dark--mode");
        } 
    </script>
</body>

</html>