{% extends 'base.html' %}

{% block titulo %}biblioteca Videos{% endblock %}

{% block contenido %}

<body class="body__wrapper">
    <!-- pre loader area start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div id="object"></div>
            </div>
        </div>
    </div>
    <!-- pre loader area end -->

    <!-- Dark/Light area start -->
    <div class="mode_switcher my_switcher">
        <button id="light--to-dark-button" class="light align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon dark__mode" viewBox="0 0 512 512">
                <path
                    d="M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z"
                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="32" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon light__mode" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
                    d="M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94" />
                <circle cx="256" cy="256" r="80" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="32" />
            </svg>

            <span class="light__mode">Light</span>
            <span class="dark__mode">Dark</span>
        </button>
    </div>
    <!-- Dark/Light area end -->

    <main class="main_wrapper">
        <!-- headar section start -->
        <header>
            <div class="headerarea headerarea__3 header__sticky header__area">
                <div class="container desktop__menu__wrapper">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-6">
                            <div class="headerarea__left">
                                <div class="headerarea__left__logo">

                                    <a><img src="{{url_for('static', filename='img/logo/logo_2.png') }}" alt="logo"
                                            style="width:100px;height: 100px;"></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 main_menu_wrap">
                            <div class="headerarea__main__menu">
                                <nav>
                                    <ul>
                                        <li><a class="headerarea__has__dropdown" href="/index">Home</a>
                                        </li>
                                        <li><a class="headerarea__has__dropdown" href="/course">Cursos</a>
                                        </li>
                                        <li><a class="headerarea__has__dropdown" href="#">Portal Instructor</a>
                                            <ul class="headerarea__submenu">
                                                <li><a href="/instructor">Perfíl Instructor</a></li>
                                                <li><a href="/biblioteca">Carga de Curso</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="headerarea__right">
                                <div class="headerarea__login">
                                    <a href="/salir" style="color: green;">SALIR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="theme__shadow__circle"></div>
                <div class="theme__shadow__circle shadow__right"></div>
            </div>
            <!-- theme fixed shadow -->
            <!-- breadcrumbarea__section__start -->

            <div class="breadcrumbarea">

                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb__content__wraper" data-aos="fade-up">
                                <div class="breadcrumb__title">
                                    <h2 class="heading">Biblioteca de Carga Cursos</h2>
                                </div>
                                <div class="breadcrumb__inner">
                                    <ul>
                                        <li><a href="course">Home</a></li>
                                        <li>Lista de Cursos Agregados</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shape__icon__2">
                    <img class=" shape__icon__img shape__icon__img__1"
                        src="{{url_for('static', filename='img//herobanner/herobanner__1.png') }}" alt="photo">
                    <img class=" shape__icon__img shape__icon__img__2"
                        src="{{url_for('static', filename='img//herobanner/herobanner__2.png') }}" alt="photo">
                    <img class=" shape__icon__img shape__icon__img__3"
                        src="{{url_for('static', filename='img//herobanner/herobanner__3.png') }}" alt="photo">
                    <img class=" shape__icon__img shape__icon__img__4"
                        src="{{url_for('static', filename='img//herobanner/herobanner__5.png') }}" alt="photo">
                </div>

            </div>
            <!-- breadcrumbarea__section__end-->

            <!-- course__section__start   -->
            <div class="coursearea sp_top_100 sp_bottom_100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="course__text__wraper" data-aos="fade-up">
                                <div class="upload__video__content">
                                    <h2 class="heading">Subir Video</h2>
                                    <!-- Formulario para agregar un video -->
                                    <form action="{{ url_for('upload_video') }}" method="post">
                                        <fieldset>
                                            <legend>Información del video</legend>
                                            <div class="form-group">
                                                <label for="inputNombreVideo">Titulo del Video</label>
                                                <input type="text" class="form-control" id="inputNombreVideo"
                                                    name="nombre_video">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputURLVideo">URL del video</label>
                                                <input type="text" class="form-control" id="inputURLVideo"
                                                    name="url_video">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputtime">Duracion del video</label>
                                                <input type="text" class="form-control" id="inputtime"
                                                    name="time">
                                        </fieldset>
                                        <div class="form-group mt-4 text-center">
                                            <button type="submit" class="btn btn-primary">Subir</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="course__text">
                                    <p>Mostrar 1 a 12 de 20 Resultado</p>
                                </div>
                                <div class="course__icon">
                                    <ul class="nav property__team__tap" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a href="#" class="single__tab__link active" data-bs-toggle="tab"
                                                data-bs-target="#projects__two"><i class="icofont-listine-dots"></i>
                                            </a>
                                        </li>
                                        <li class="short__by__new">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected> Mostrar Mas reciente</option>
                                                <option value="1">Uno</option>
                                                <option value="2">Dos</option>
                                                <option value="3">Tres</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% for video in videos %}
                        <div class="col-xl-12">
                            <div class="tab-content tab__content__wrapper" id="myTabContent">
                                <div class="tab-pane fade" id="projects__one" role="tabpanel"
                                    aria-labelledby="projects__one">
                                </div>
                                <div class="gridarea__wraper gridarea__wraper__2 gridarea__course__list"
                                    data-aos="fade-up">
                                    <div class="gridarea__img">
                                        <img src="{{video.video}}" width="200px"/>
                                        <div class="gridarea__small__button">
                                            <div class="grid__badge blue__color">Mechanical</div>
                                        </div>
                                        <div class="gridarea__small__icon">
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="gridarea__content">
                                        <div class="gridarea__list">
                                            <ul>
                                                <li>
                                                    <i class="icofont-book-alt"></i> Lesson
                                                </li>
                                                <li>
                                                    <i class="icofont-clock-time"></i> {{video.time}} minutos
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="gridarea__heading">
                                            <h3><a href="/showvideo/{{video.id}}">{{ video.nombre_video }}</a></h3>
                                        </div>
                                        <div class="gridarea__price">
                                        </div>
                                        <div class="gridarea__bottom">
                                            <div class="gridarea__bottom__left">
                                                <a href="url_bd">
                                                    <div class="gridarea__small__img">
                                                        <img src="{{url_for('static', filename='img/grid/grid_small_1.jpg') }}"
                                                            alt="grid">
                                                        <div class="gridarea__small__content">
                                                            <h4><a href="/showvideo/{{video.id}}" class="text-primary" style="text-decoration: none; font-size: 20px;"><a href="{{video.url_video}}" class="text-primary" style="text-decoration: none; font-size: 20px;">LINK DEL CURSO</a></h4>
                                                            <h6>Jose Rios</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="gridarea__star">
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <i class="icofont-star"></i>
                                                    <span>(44)</span>
                                                </div>
                                            </div>
                                            <div class="gridarea__details">
                                                <a href="course.html">Mas Detalles
                                                    <i class="icofont-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <form action="/carrito_add" method="post">
                                                    <div class="mt-4">
                                                    <div class="quantity mb-3" style="display: none;" >
                                                    
                                                        <h6>Ingresar la cantidad </h6>
                                                        <input type="hidden" name="id" value="{{video.id}}">
                                                        <input type="number" name="cantidad" min="1" step="1" value="1">
                                                    </div>
                                                    <button type="submit">
                                                    <div class="btn btn-secondary" style="background-color: yellowgreen;">
                                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                    Añadir
                                                    </div>
                                                    </div>
                                                  </button>
                                                </form>
                                                    </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="main__pagination__wrapper" data-aos="fade-up">
                            <ul class="main__page__pagination">
                                <li><a class="disable" href="#"><i class="icofont-double-left"></i></a></li>
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="icofont-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- course__section__end   -->

            <!-- footer__section__start -->
            <div class="footerarea">
                <div class="container">
                    <div class="footerarea__copyright__wrapper">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
                                <div class="footerarea__copyright__content">
                                    <p>© 2023 Powered by <a href="#">LureDev</a>. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12" data-aos="fade-up">
                                <div class="footerarea__copyright__list">
                                    <ul>
                                        <li><a href="#">Terms of Use</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer__section__end -->
    </main>
</body>
{% endblock %}