<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/proyecto/flask_app/static/css/style.css">
    <title>Inicio</title>
</head>
<body>
        <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="container">

          <a href="/"><img class="logotipo" src="/static/img/banco.png" alt="BANCO DELIVERY" style="width: 150px;"></a>
            
            <form action="/search" method="post"  class="form-inline d-flex gap-2">
              <input class="form-control" name="video" type="search" placeholder="Buscar Video" aria-label="Search" style="width: 500px;">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          
          
            <a href="/videos" style="text-decoration: none;">Inicio</a>
            
        </div>
          
    </nav>
  <div class="container">
    <h1 class="text-primary-emphasis">MIS VIDEOS</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Video</th>
          <th>Nombre</th>
          <th>Duracion</th>
          <th>Acción</th>
        </tr>
      </thead> 
    <tbody>
      {% for video in videos %}

        <tr>
          <td><a href="/showvideo/{{video.id}}"><img src="{{video.video}}" width="80px"></a></td>
          <td>{{video.nombre}}</td>
          <td>{{video.duracion}} soles</td>
          <td><a href="/carrito_delete/{{video.id}}">Eliminar</a></td> 
        </tr>

        {% endfor %}
        
      </tbody>
    </table>
  </div>

</body>
</html>
